#
#ENC[AES256_GCM,data:DxTOvFfcLbl8EivzxR2VX+AtESeQ49pXqA5qOAD4vZgu1CM0EM0SBoNJ2PYvLUr3muaooNjGb+5zqGeS,iv:ZFc2ama827aiXqcvndQtiYXOlIkbr0eBLekgd10Zhr4=,tag:fFjNyvXG/Q22N/sRdsyC8g==,type:comment]
#ENC[AES256_GCM,data:i/TFPvcxHPilQFblKMaUs3QJvtQqfA6PPfItI0mlH/kJXva1U7LoVvXBkPE22fymorKxubnhuiYaNViXJU9mpkQIv5SJQvV/lwc2cw0pTCq52ExOdgvZIWuSu20QbkfMcQ==,iv:rYs6w+fi6aTLGEoUOaXF8Jb6pHXdU4xRyh9+i4CPkaM=,tag:kW9x4IbDMuRrkoC3ighk+Q==,type:comment]
#ENC[AES256_GCM,data:2PxhxB1/0Yo0AcS4AEGYWh3tvO27jj2zRfDugwMdHxbH3nQ7oRD6rDoSZezGBVm9YcyKsFiCBcJMGc3IC8ywDrFffCx+MVzg0RuQGF9SmJ/m449jBgk56a4kTZtluakobw==,iv:rFw07j0jyfdhZirUNVbjEQ3gfHKcu7jQ6YkyD/1J4sU=,tag:CN54f6DdGUuv2rkyVYEQMg==,type:comment]
#ENC[AES256_GCM,data:65UPZ4ZKvbVFckMSzwV/7Od9X1GHI2Pb06d78AjQta8ZyocuQrJxu+Rk7sxSe73Y5a35OLMxc7hgpjk=,iv:rPswoh3NvOu9DLji7giPRtjgvxLpbUZ2atx4Cb5FCMA=,tag:fO44M8FndG2BI0tBV4qXkw==,type:comment]
#ENC[AES256_GCM,data:eJBNzL9jEuMnJHU0h9RzJ/z5cMSFxI0G/OPcn2+5ZuSqwtilwczAP+fJnfxwDNUHJ7S2drj9Gqj9qiJdfDo8uKwXSxAvuv3GQtaK4Mon,iv:GXtGFv6T0uMSIt3weTLyNNVaZvWvDNbJf4YwHBBh8zY=,tag:EqrbQB3Sia90GvJcdMC94Q==,type:comment]
#ENC[AES256_GCM,data:Axi2FeSEehzW88xcl2nsOaKZSrVk1Tu9v3rMq+L0MXsL+RXUPWIUJOe90Wf4sDRcEz7M3oj98wAW2U9zPPzpZX1WxUybuPKnHLc2,iv:n5WcHm3woRT5T6sSuWIMqyOYvymjkPlhQpIbJDva5QE=,tag:xGEB1LIlwqBSGwxCaXftsg==,type:comment]
#
BASE_URL=ENC[AES256_GCM,data:qohVy3Usj8ZPJj3AokNMAWd3zWNI,iv:3s3n5TdAwaZmUKWegq/yYh5MGm388U8fjtv4peuylL4=,tag:ZQb46Zbmfg4emjsI0rL5+w==,type:str]
MONGODB_URI=ENC[AES256_GCM,data:ElytwkT6wuOa4Mpmuc6YhOSzGFRkG1oyILuCjt8J,iv:UJeZOyDGac4l9CvVK+f2GYuldMLCeXSqG5NuftmHgDM=,tag:b5KH0eTG4TVM7d4koY/OuQ==,type:str]
SITE_CONTACT_EMAIL=ENC[AES256_GCM,data:eDH3vOmxMDBFMf/3H2JfovqkHH8lw5eN,iv:LZEP8/8UTyMwG0mej/s5FgyzH8VPbgE2/MS+lnA04j4=,tag:PqQU1doyMqgTYAi70YPDNQ==,type:str]
TRANSACTION_EMAIL=ENC[AES256_GCM,data:NqmUkcSvUQTcdi8pePEazCGISZpRkkdPSu7mUVrFtEJvC+Q=,iv:lewv3/w76DvjJ+s1GuvLRpZnuHD4NyqAoN4yvsfN/V8=,tag:3UN9/40rrQHDKh1FjsCiQw==,type:str]
SESSION_SECRET=ENC[AES256_GCM,data:mQ6BYKoe/S+5QWDNbnI0M+8hwQiPqzLHKLOnm6E=,iv:f4b+N1ZFEX0RZMgGXOl9Yj/wkC3Vnw7Y4ScSUbAyNT8=,tag:77qUNCl2VE+Qcyh6oj/P3w==,type:str]
SMTP_USER=ENC[AES256_GCM,data:I8i+NzdyHWGRTvg3FHBpsJxo,iv:Wqp43eX1OgRPXoCdEcGWTcEUvv9KIwxdOvoVeOIjRQc=,tag:QvNpDnkidhU5veBO97W0LA==,type:str]
SMTP_PASSWORD=ENC[AES256_GCM,data:qj7RO8Y88eU4DnBT7UJySbyJ,iv:kzDuhKzPeiP5SDnZtq5/pMCCZgGI4uD/FRHTsQUGgVw=,tag:FB+KUExq8RzRGth129UuMg==,type:str]
SMTP_HOST=ENC[AES256_GCM,data:0NfaukE3KKW9SumOzEj7AoBw,iv:1HagdXtVG095fK/n3t1PBcbphkWeCgr13g62otJCQHw=,tag:sOHgGYSHcftqcDcUfz4cTQ==,type:str]
#
#ENC[AES256_GCM,data:v/eyNrEJyYHf,iv:UbrvW3ELO2yQFVjWlEPIjdDbRlCEyDejDh3/jZpqxyg=,tag:dBtcnv7rLw+h9MlYwZE+aQ==,type:comment]
#
ALPHA_VANTAGE_KEY=ENC[AES256_GCM,data:6qSdAN8oNA==,iv:L+6v5cAwO2Sa2F/+18DXteqBhkzLGkwR8mICPiY/w9o=,tag:OiaRSzoVhb44zcXmXg6+pw==,type:str]
DISCORD_CLIENT_ID=ENC[AES256_GCM,data:48BkkVIMTFw4a3F/qBfFcCurW/22/bJe8eFgxSkOqQo=,iv:Ar0Hv3yhZE/omUjKpDMEtppsX/vEDdS0x0UL3zjGK7Y=,tag:oI9PIIrwDqcE5nj0wC1o9Q==,type:str]
DISCORD_CLIENT_SECRET=ENC[AES256_GCM,data:25TYvWf/N7dYOgfWf3PA4rCjAvOW,iv:4nnWPJmM5NkUQerDozfx7PldRZYaYRq1YBFa/xdFfk0=,tag:0/gELNP2xnhb1mRTbW9WUw==,type:str]
#ENC[AES256_GCM,data:oDJFgUHMwis8w4Ap4SlxRp0+HW0c8P2OxE6fF2adTSA7S78z343S9C82Q0yZLFaEzc3i87LOwDZiJI2znnrBHiMypvKTn/c=,iv:BAGjicp5LmMEmZJ3wlJKIDEvBVFfklhXFmYXWEggHwQ=,tag:xSzaYyzGgj+hGYlu5xilhA==,type:comment]
DOTENV_KEY=ENC[AES256_GCM,data:9+U=,iv:GB+8B6fa7QnWXccsvTT/epGbeO2zfGOWy9AU0Xv6XY0=,tag:bd2qHbg0jU7cDeGq2ybHlA==,type:str]
FACEBOOK_ID=ENC[AES256_GCM,data:RJ5LpThzCf2mtGhHY+98,iv:tJghKidYuFcuV2+3KdNTbbKSbZJWDgsshq9IvcQJq4o=,tag:yjAlNrCnQ5HrV3ytJwMjbw==,type:str]
FACEBOOK_SECRET=ENC[AES256_GCM,data:JAiNjjgSu2HRvr4PaqDOVN8pGGu9IMxi1maoIlC14Sw=,iv:ySjZY+IzVvGazebnIzkABV3Tv0dXMQm02rJwrke6tGo=,tag:hdeF00YR1f3qKI7M+fwSBg==,type:str]
#ENC[AES256_GCM,data:whyuK9nWyYyioTjzZ8c6Gv5qaUEssUE9FONlYUVMmjsWcLcYj7o6IVIOSojnfv0EYLd5CdExp1ygSp2Y1CWG91OdSQ==,iv:nCKe6a7NyWJDTZ+TUxWg7leqbxV/YlKRmjmltfQ03Lw=,tag:53s5f/izV/NrSPY5YZr/Kg==,type:comment]
FACEBOOK_PIXEL_ID=
FOURSQUARE_APIKEY=ENC[AES256_GCM,data:sJnEnfotIapVUvSlG0aK4h23EkhC8w==,iv:vFY9FuXNlJrReRAqjMmCA2mSAvxalmVYlOUOSFVwWWg=,tag:2nzcpulvkDh38pObh+NO8Q==,type:str]
GIPHY_API_KEY=ENC[AES256_GCM,data:Wop0i8FhCXFpMyDu2/sYxo+v,iv:N/wm0cejRblhQIk9Tb8nhKM8zjmeI9l+pN+vSiC3RY0=,tag:eIqheSHCufYYtF70pnEJZA==,type:str]
GITHUB_ID=ENC[AES256_GCM,data:MLD8dQlT/geG73aNyI43bazPg2s=,iv:26SnP6wc709XsUhTGmeql9zJLXH4C+jwi21UBAgefHU=,tag:QFn4ID4zirMV10ccMC9d1A==,type:str]
GITHUB_SECRET=ENC[AES256_GCM,data:lRy7599e/Gec2d5JWH712KWoYKSAw80rWJ5xVu0teCk0jiF0DVXsCQ==,iv:HHHcr0W/Qj+Y6wKyXrmJ8pSi2FQGm4rLvMQ1oh41mIM=,tag:LXVtof22GZCxW0XsJk/jTQ==,type:str]
#ENC[AES256_GCM,data:0zODLuq7He/TMtzzxdTrUx9oI3OYGh2/J9iFGGbk/Q/puU1pMLiNMpQFUdVYpBFj8xX6jXnRwSh/WzbqjfqabphG8ff1DZjL,iv:IMKa148/6Q00PsP9gHr7zLIc8ollQ/xrA29veunl/2w=,tag:kLaWJCOzV+i0RBpEDROL6w==,type:comment]
GOOGLE_ANALYTICS_ID=
#ENC[AES256_GCM,data:yGMsUxnvuSCEwgx96/rKV0btFq2E88ugFER+D91pTuYrU6EgfQzfJXUjrz76jn4WgK4EXH+db2y8TpSTdrwnPy/WrX5JTrZNW448aQ==,iv:CDyVzB5uHmH1eBsPwX4osltGypMZXt4AR8bfGwNr0Vk=,tag:dAW9b3Te5bCu1byJNN8Umg==,type:comment]
GOOGLE_PROJECT_ID=ENC[AES256_GCM,data:vlOU9fHvFIjWIDOk54XSXyLOu4x1czCF,iv:mHaP+w4H2OfJ7HgPWIQSPIl6478IOZS/bDbUslsleIk=,tag:BKlXojM64xO9aGCE5mnPTw==,type:str]
GOOGLE_CLIENT_ID=ENC[AES256_GCM,data:K/Z/l//4vpBoM9scXS47kmS9c0wZEWnqnBHoDVvQHMkFodpOHlwI,iv:v5kVHKLx8M916dtLPVa9XFQqO68pwohdqKzUcpq6mXc=,tag:EuNrYDoYAj3FdJSv/K6BrA==,type:str]
GOOGLE_CLIENT_SECRET=ENC[AES256_GCM,data:1uYcKOV0HHsbtwdya0RMg/stfesMHfKy,iv:VfALTBf2qdxe8CBfBPxmB8l+SIgH19w6cg9TCeTJD1w=,tag:VFmLRxOjThVmElPz99eNaA==,type:str]
GOOGLE_API_KEY=ENC[AES256_GCM,data:b36Xu7bU5QoNE98tD9/c2/nMYQ==,iv:x2nSeoZXwWELbIuKyaniZCypCvzJzxHze3LspVntQrY=,tag:lEgV/i9m5KvSLw+OanHDCg==,type:str]
GOOGLE_MAP_API_KEY=ENC[AES256_GCM,data:py5ZQnb9cs4BJWV9qtzoGpmN,iv:e/wMXIh3sRdTW4gr3P9i/6heu25KE04vzhq3FewH0cI=,tag:k2/SS9GWXGZ7vQZ7ONUePA==,type:str]
GOOGLE_RECAPTCHA_SITE_KEY=
GROQ_API_KEY=ENC[AES256_GCM,data:Q2SSU+NheklNc4Pw67G/R0jgERUi4mPpEHA=,iv:u82RodxK8twxsh1wmEmhH8QKgznLU8TRxTFEerz0sgs=,tag:uvxtkHeXSc+ijY5yuGndCQ==,type:str]
GROQ_MODEL=ENC[AES256_GCM,data:f6CcE9MnuivQjGWe93ysfF7qGiNoEm0=,iv:tYwsKve3OVAzS4+MkoyJFWKUybzzXlfG7fbSNJzaInY=,tag:rjrnun97OmjcfATwa3c/UA==,type:str]
GROQ_VISION=ENC[AES256_GCM,data:73MN0JOthYvcYZJnLOYf04xpBiv9KP7uPWdAygxAmxUcUFJ+C1zFqtA=,iv:ByptGDXndoL92D8Gkeq8oXDjU34hkKzaFccwxXLjXMI=,tag:O37Re+haU0O31UB6FemmIQ==,type:str]
GROQ_MODEL_PROMPT_GUARD=ENC[AES256_GCM,data:8nv541Pi8zFlKsChxqP+cwus2okPlTHaILuhrQ==,iv:1dX7L+/5Bop0eDVQ3+qVsgXRJ/E4ULCKJwMfKQGKvEs=,tag:BqRfou9UFYWYC493GzvhvQ==,type:str]
HERE_API_KEY=ENC[AES256_GCM,data:Oy0XQfchgPAeZFaE/Um8HwMppFv5WQ==,iv:i8kjaCM1DpO3+AFF9zM9GHu5xRS4Lwm9nmDaY9H/ij4=,tag:eLohQnfr+4xHltshFSv5nw==,type:str]
HUGGINGFACE_KEY=ENC[AES256_GCM,data:7EcvcBiqYrfBENA94q4okeC4HirYNC+5wxTkGf7unOC4C+janRCG0AwV,iv:k20FQFAXD89yq3NC+RZqG9w58RIUtDwzD5XImAU0o5U=,tag:pH5W4eQn3RnxKD9Z8Eno9Q==,type:str]
HUGGINGFACE_EMBEDDING_MODEL=ENC[AES256_GCM,data:Y9Jt169lwm5yOX8hrvsHuSLrmOh5JQ==,iv:O+EHlfPh0/vgt5GYELRqFp2FGVetKNmir5OXGT0JgEI=,tag:u15TwxSeS+6o0fhuxBRpPg==,type:str]
HUGGINGFACE_PROVIDER=ENC[AES256_GCM,data:oxUMsXFMd9qTDzgP,iv:MmhneLZrZa8C/McDyUdtNn/khYlpB51rsxL4AXcXjW8=,tag:mvOp5ZlubKBV+GiPa3V9rQ==,type:str]
LASTFM_KEY=ENC[AES256_GCM,data:+ngnST3+tHGVv7oNGgeHOLFnx29cMGI6BcnzKU+FHls=,iv:eqHgMOf121HeIQNRG8IpmpIwfiS/CbyB3l5xbxd93kw=,tag:+PUaBTu7s7Z3WqFL7LEjLw==,type:str]
LASTFM_SECRET=ENC[AES256_GCM,data:SDXTaYDmgkKMWCjJ/CZBrbcLmN3IOVY+OEgF+nFOIt87Tfo=,iv:ihR5ADtcSAef+v0aJBRhhOYLbEJL8otcyxrplyy5S3Y=,tag:lOQsSGCbT5JRR87wpEbbpQ==,type:str]
LINKEDIN_ID=ENC[AES256_GCM,data:iS/x7JVJd6sIJEeLlHI=,iv:ngcc+z5IA/ftLMmeAi2qMjM60MqEruaPsXfS5/KD3sQ=,tag:Pr54wfk7dj4gpSKr4m3DSw==,type:str]
LINKEDIN_SECRET=ENC[AES256_GCM,data:mjAs9j6QgbiZnZA/+TD2HA==,iv:XO4SkY3OSWyyZ3VDUDjuqVqfT6LQaGJXKyuQxFxxpmo=,tag:BX4yoSXK+X70TSRicAUGPw==,type:str]
MICROSOFT_CLIENT_ID=ENC[AES256_GCM,data:jkskqRNOAF0txJp70MlHGsk7EJ4MoZl5yAqkkFd5mAGuQ7m5,iv:OiUIf5TBIOejmDOGNwsSYTupcS8bQSH0Muz+RoO9A5M=,tag:ensv9afVOCb/ZfK5sKE9XA==,type:str]
MICROSOFT_CLIENT_SECRET=ENC[AES256_GCM,data:ko8IJtOgDadpr0rM2zOzdUFbX60nYBtaImrHZP+5WOGj4CIj3qt6Vg==,iv:sYbsOzgs10tQ0Sj4iWONAxE9w2DM3iXVXg/B1c/VdSo=,tag:xGRtX9lHXUXFA4DThbrbQg==,type:str]
LOB_KEY=ENC[AES256_GCM,data:Yv6bfKBmVj3oYAhq1g803vc+55ndJaMWOxLkkBv7j6cGiR5o03Zbxw==,iv:5zyuFkHcHi9ewNQXJHB/3UUu16+S153IZwGaLqM+lAI=,tag:pSNE2PRFTKDTeELwyxGGsg==,type:str]
NYT_KEY=ENC[AES256_GCM,data:Wiio9AvBFHki/40Vcd/+QzhvUdkKdSTurW6ixu8RjCfUtm8zN7C+7ZCUHw==,iv:1rH5iEhG4TPMP0WGs96t8KBtQ+h2k9pkXnNIepZZW/I=,tag:NdejTAHwlnmNzEHU+MP2og==,type:str]
OPENAI_API_KEY=ENC[AES256_GCM,data:VOim91/aHMZU5Zz+X+1ZLhJILHcLBVWMly/ZKlR7P1KkRZFUx30iNmPFyyEv1eA=,iv:8h/XAFTRgetXm4mexAt3AzJzyZQI8QCK/iPbxtHFXZk=,tag:dEDRAzd1GYAeWa5YI/joJQ==,type:str]
PAYPAL_ID=ENC[AES256_GCM,data:AW99acmOzt0GzwgC1txmjiXv5btWDIZ7aGkSvbLTHcrmy7wSKUQjdBGG5bciCOtOCGBV6Ua0qpusnU+U,iv:i3YCAgHjFxfsEaCCEmYwPfJBNYrwGTcp9G3CiLaK264=,tag:0d51KVgB85I9oJg6Ne9RmA==,type:str]
PAYPAL_SECRET=ENC[AES256_GCM,data:J85x0zdZmPgo/DwMNlLUDw0CJfIEuiODIA0AXdvBwYI0r9PooIUyp9fg1+SDf4adhcm8da+sGUqxrSzH,iv:eBds0sypvCNyUOWRBjLm+tftFjqb/NJt4mzG1ouslDY=,tag:wlLfl9l79XG1KiHD/cF4zw==,type:str]
QUICKBOOKS_CLIENT_ID=ENC[AES256_GCM,data:wWcqL+vISB2ov7cLCXtHGyoz9nYnFVvP1HfgWZWSb2UTnBQy0Y3LmMrwh4KjmiIyVdg=,iv:HO1NH34AGMboU1LqmD8P+8E0BTP1AODAfEWx1Zx5nd4=,tag:epkVqkr6tqpDnzGpoGJoQA==,type:str]
QUICKBOOKS_CLIENT_SECRET=ENC[AES256_GCM,data:737Crh8Mu92vG/a5HJDHAjQ7WfGNZQ/p+Q/JnRZcxLAJA6Z6mchApA==,iv:kPtjCRAvuoqrl12Sftq5dWsWKWiATzrYpIoTkL4PPsk=,tag:igaEtEuMcGCiyb7GLobw1Q==,type:str]
STEAM_KEY=ENC[AES256_GCM,data:v+cKZkNL5ricz8BH4Ccu7Mudr8XuLGrhTOZBSLrNHgs=,iv:BxVTVShRaqhsErwQg3asnKZU96T44FItjflxIc65sJE=,tag:wYiXdZ8YEUcCaLy3FP3OsA==,type:str]
STRIPE_SKEY=ENC[AES256_GCM,data:G06ZFdyDldRxqZbfqVsvk6kyHFwJH9KdjkpYmGAc+EI=,iv:LB9nSXJC/cIvVnDvOOdwCTbkoa9dRlOFi6Mu6vKHjJg=,tag:zCuMwTSaqFRjv1sOuVimag==,type:str]
STRIPE_PKEY=ENC[AES256_GCM,data:EQ7keELSGfg1rSaJaqHZXYbOWyAU3z8ntqZehfDKa3o=,iv:GF/VDiZpikraVKOoPcdInL+qIiTl2NYqCdaWCEuF+20=,tag:S3EKzRzecz36nShDmOizHA==,type:str]
TRAKT_ID=ENC[AES256_GCM,data:ouFJn/LfF9OEimgJXAc9,iv:cSQ2/R7LPOq8TaJRZSiB/PEnzh+i5qNCeASw73EDTSo=,tag:sCjiB6xmtlORymdSJt6+6g==,type:str]
TRAKT_SECRET=ENC[AES256_GCM,data:qbas2TG3H5eK3UE0ZN9AHBS/PA4=,iv:DAb3vVS6bhdXJd3Nl9y5vCv3sRaUEU5D/pJhzyySyp8=,tag:qIRW5/DRVqJ2vfR1Zei94A==,type:str]
TUMBLR_KEY=ENC[AES256_GCM,data:y2i470vYFS23Ixnq2H7sej/9goB+DZPOINKq5al4C8tNIZsS2EAeTMeBPo+x+iV38bc=,iv:cTV36opIDkHWmUl1lPH50HirmvDFjcnKVoAUuKowRjo=,tag:Ign1Rc7azawk9fee0+GOdw==,type:str]
TUMBLR_SECRET=ENC[AES256_GCM,data:qtGyAOOrMm7sqS+IqG0YyDQPjGBbhpLlYVhfoH6JvqcZ2Qk0Zx+Ho9BYXzv1cJXzudY=,iv:M+9HKc35eThKIKagO8fQdaOhYHA0k7Ohx1dotfnncdk=,tag:h/wbdhxSmbOPsCnOu3A1/g==,type:str]
TWILIO_SID=ENC[AES256_GCM,data:EELIWLlBXYCwrIxsk7E5TI+btCpw6rTCNLRszuucM9DTnQ==,iv:xPdif6oXq9L9mlw5w8/0bsMvKsfy5Qt4FRpgtV3vIdA=,tag:D80TGL0HYALGA6YD+9W/aA==,type:str]
TWILIO_TOKEN=ENC[AES256_GCM,data:42Ckfm5mVzQnOtcxbm9Ol3G7W2D1ddPH3UKnJS0ak4g=,iv:ySFW9hT7d/ritoY9Kty+7udOMV96Ee9UD8Y95KtNi38=,tag:CQXPXZqZWqBgXTViWNetIg==,type:str]
TWILIO_FROM_NUMBER=ENC[AES256_GCM,data:5tmlxWTtKX+lm9zZ,iv:uJkwb5XxEpGYjDP9l9LT6i5thShG11bIAIsqTdjvEWw=,tag:uNavTsDnp0KzQkdj/Yvm8Q==,type:str]
TWITCH_CLIENT_ID=ENC[AES256_GCM,data:Yq14Ry/ian31ygb7PZ3XdsENYOq/VEJEG0lxwnUL,iv:Z4+4rIwJVmfEhivuSG9U0CZ5Xe/ZazHD3rJXK6q4aEg=,tag:eDnahQlkI96aVuEd/4oCTg==,type:str]
TWITCH_CLIENT_SECRET=ENC[AES256_GCM,data:Kr00FV+A+8BT37MOXd+ED0v7LkeCkMtNiNK+LCXh,iv:S5Nmhd3u+6iz2y4ShbW/gKnqBTTGyyKL3upu6Sn6gvk=,tag:/oi7J7MT6TZT5YjYD6JUUQ==,type:str]
X_KEY=ENC[AES256_GCM,data:NW7B4o46xGBXjEdoSRmoQ7jXRly8EfUDIQ==,iv:WQLgv7mOyNjbyoxYHXnzORnc0IKOSHOo5DIOKRaScBw=,tag:12c5EzTiUG0epCvQGlQMEQ==,type:str]
X_SECRET=ENC[AES256_GCM,data:n0hRfGxZy+DGrHIs2xsnhKbLwXvnk1NhRz+oA05e9A6bcxA8/djLQ8wJbYBqATh1cNU=,iv:VWDXDlzGS3B4okPN+hpW3JMcOHaNff83fDyEd3qNNhk=,tag:n43WD1NRyAasD16ae7rPlw==,type:str]
sops_age__list_0__map_enc=-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJMWJwaXVFQ1hobGcwM0hT\ndWdFSk9sUjZ3bm4zajVVVmNMcEsvdVhqVHk4ClQ2ZVF3Z2xtVHhnSVpNdkR4bnpz\ncUlTSk5sTFUyVVhzamhyMm51d1F6Wk0KLS0tIHRxU2VJT0tSQ3RsZjBreEJqVU1S\nT3Z6Y3IyUWhpRytBYm03Y0YwMlMyVmMK3kiU16Sqii9FcnfmIuD4sTk5ZIsDacwZ\nTfDkNX6ZMrpfvQVFCasX6BAe6RWK1ggqKLTGHCUb8nsR471Tsec4Lg==\n-----END AGE ENCRYPTED FILE-----\n
sops_age__list_0__map_recipient=age135z68g64ugpwlt9hkfmvdxy4c264xsxfrc96qchhjgapldhsqqcshd84nz
sops_lastmodified=2026-03-17T03:29:46Z
sops_mac=ENC[AES256_GCM,data:rW74R5sNcB12ir+fmJDA0htPjCXorzBxKEM3PGuAyAVA5nb9eXmUz0Q7CYUvkfGIbGQB/Io/aT+l1638hRCqYt3BM9mIiWPketuXvZmyxY5Wrl4aLabPyRuCSPoMDySs38M9u4ZIGt7GF1at+prR309FqciNRuI2wCUTWspxUmw=,iv:c9vQOFGwpkcWtVcZ2hJ1n/rXA7QibkhOYx4arRlsyog=,tag:toTo9Ivjf9IDlY7B0hWjHw==,type:str]
sops_unencrypted_suffix=_unencrypted
sops_version=3.10.2
