#
#ENC[AES256_GCM,data:R0NZrWkPP+sh5wee3gs5/Kfuxw7Z12HD4K3nnYht6GeKCQUYGJJWCsERNzQL1k/rPq0eqGDoAUtm1QZ3,iv:Ugdx4bSqaqSjUoLrekQAjBFLy8ZjOQlmDgglUIwRmnA=,tag:kXb0z+i08AWbSpirtWwMPQ==,type:comment]
#ENC[AES256_GCM,data:vQyq1xOR3WtHiYwZtDZdglbFjmNDhJwm6R89P9FGAqN0TfBdPqRLGVEmvI/ctddJ4oPdG7WOFjvZy9QLt6XgX1NBmz6O3lyivZz7D7+PQGIwO/o2RMLVHw7Ztovqy+94Zw==,iv:cT36hXs3KKNh/DRpMCkPa4TXsTI/aEbH0U+68s1l+Gs=,tag:f3sEVDKDZl6YX01xfDxcLA==,type:comment]
#ENC[AES256_GCM,data:9Y6uT2EZYaU0Xc9/YwHcb4Dc/4wf+QslK4+ZUizwfn/9LhF9leC6s/MHqdyaXBDNT3Gvrb0CUcWGNfrnGU+DIUPzPcH6pWt/PFnpVi/QVpdFA/woMr5ktwsMVlq5Bhi79g==,iv:gH0JSS6PPbNv0Nkj+tqh+mxUHx25+0FrCvS98jW/PO4=,tag:w7npmkO6M71pFG8VebXQjA==,type:comment]
#ENC[AES256_GCM,data:JyBnQHTwucBtpsxH7SYegGkRNQTnEu04uMqMc1kwbEINbloHanWD/5NmjRrM0kB7GL7i/fONUVkPeH4=,iv:f+Mg7O1OLYkpSZAEYaYMjEKgWe8ZikW5WJywfjtgVFk=,tag:sPyvuHiXmg0DR5RoJbVl/w==,type:comment]
#ENC[AES256_GCM,data:x52DHq23PYXeuPagj45ko6HpopHmqLJuTXFjZF+vwYethlP9Qvan5UDO9lLb6SKlw2YywhjfuUs4xO4UH6sNCpTcvYszJUY6+eEdZSQw,iv:ZDt5+ejG6TvHfx1V7qJ1sOVd9hT1APKEhHVY+sPJBLk=,tag:F6tR7dI8DTDRIMDggPpvBw==,type:comment]
#ENC[AES256_GCM,data:OknekLaAaccLMtR/lyZLlJ+NAo3/Ely14bIMbWak4fl8+HHZSpoGlM9BCLPlm2HpVsAbOsLGQag2SG6vDdcg6WllyyWWM8+WToLg,iv:fpjbSfBxsvOVRZrvNcEMoNbP44DZ/cZplS4VZ1Rfcj8=,tag:KkiiplMLuvGfYf84R7eotA==,type:comment]
#
BASE_URL=ENC[AES256_GCM,data:upToiN4EeukDuLqYGKUMszY/xy33,iv:DyL2TdkDnmdITO4QUXnY69U0owIEZ+GUIvDtlqBt4D4=,tag:AwdAIE1o3CwV/3yroKN5+Q==,type:str]
MONGODB_URI=ENC[AES256_GCM,data:DQyr7snaHY437p0bWoNiLKefBniBAuABlYU0ofc4,iv:4LIMxfV538ZTfuI8tLBFxIhQIiRQZkz/UZasn9ma6cY=,tag:h9EXAIXrSIeiSVc9raF9UA==,type:str]
SITE_CONTACT_EMAIL=ENC[AES256_GCM,data:wyYuWVBcSosy2/hJ/GxGlab9lpgb58v3,iv:i94TNacdnlYRzPbCFlYY1pJCTjNhDKhBPKyr/hVZJck=,tag:qxRd9S7Ur8rvjFOafbj9nQ==,type:str]
TRANSACTION_EMAIL=ENC[AES256_GCM,data:ghwWZliDVvGXg4QQYk4jmWZVMx3uLyRSX5d4Oq8QKDt4htY=,iv:zbMxk4frebOcjbgRdKP0+eTaWkfggCrlvFW1pjUfuqI=,tag:i7yJguSCnQ3jkjTdnAjEjQ==,type:str]
SESSION_SECRET=ENC[AES256_GCM,data:TLzBN5to8uXlG3VvwQzI/dhL52f4L2wiDZe1FJg=,iv:InmuzmR1tzditEPmNRJRylNE9SLpjdOCY3lefouWIwI=,tag:amEeb5vvDFhQsXPCYwTJng==,type:str]
SMTP_USER=ENC[AES256_GCM,data:fB6y2KiUIMxzAcy4LXr+SXMT,iv:sxm+YNhKEBQ+DL+NxwXZe5b/G7QC6C2dCOP/neN/fis=,tag:pEr7vSN57Sjxt+/RDMTtcw==,type:str]
SMTP_PASSWORD=ENC[AES256_GCM,data:MnRSW1z3h5+k925zUxjuQf8p,iv:lFR7rwl10K0YPWqe8J6VxitwQhLE4b/69oWOl0ZqpM0=,tag:r28Y1h9IBth1TEvUCwnL3A==,type:str]
SMTP_HOST=ENC[AES256_GCM,data:e6CwC8zDcDbleOKDKuouRcmV,iv:xwPAiLiJSoGQLCtbGJGU/UYJSW9nrbk3M4SWeDvzQII=,tag:rucE1Ldj6sBT7EkdEtHbIg==,type:str]
#
#ENC[AES256_GCM,data:obpzql63N+UZ,iv:lz9bBAdfqDxHGgRNMp9hFiSY+N8Z0+ltd7mGNPb2De8=,tag:gQdtTt2UXOmX0Dxutp2w1w==,type:comment]
#
ALPHA_VANTAGE_KEY=ENC[AES256_GCM,data:MDqaP5qPtw==,iv:avBK0daEJk6VUQPIQMDDGmsmy/hl+7GYNM/PS9DB1Ks=,tag:4qxUUUAz+kZF7NT0BWYgOw==,type:str]
DISCORD_CLIENT_ID=ENC[AES256_GCM,data:O+W17mdsvCsYKJeWOl/0sQgKgwY8Yyd345mcYiuKTqM=,iv:nfHiaZHOr4DVdfaCm2BG/n25Di0UU+UvkKiC6XSR7Rw=,tag:7cgyT13CLOyW97cNkAu8aQ==,type:str]
DISCORD_CLIENT_SECRET=ENC[AES256_GCM,data:6QYwFc6eWFDH7FQPHgncW3U4rcQh,iv:+yhNz8etKHdWlor2ncy0mkBe8rHwDCNSh+CDk1w3wl4=,tag:HBkbup+dZYBguQpiI+VPfQ==,type:str]
#ENC[AES256_GCM,data:WJPLDNE8hxphJ1rUvghXfbJtiUg1B0CjGe2R/VxEmwe2SW8t4vzt5MfNBBI438zOV0hqgRHP2ItawPfM1FhPab/av8pzJRE=,iv:OB+i6DSCzug1OzML9I20YC0/y8urryDCx24lLe8I3kA=,tag:UxK9G2KvfPRrjZ+LJb2M4g==,type:comment]
DOTENV_KEY=ENC[AES256_GCM,data:l1M=,iv:3HGK+2H/InnOc8Qz07UVEzP4h3tYJh2jr+bwzM9NZYg=,tag:V2PGZyuesN2hV9UIn+jCpw==,type:str]
FACEBOOK_ID=ENC[AES256_GCM,data:eWMpMjn5ohE1xfb6xd4V,iv:7k1FSLkRpAwGui3A8WBJAjvKTOfnTyZMVgZpXozNWoI=,tag:au+JjPKolMrhlG3B6JbnlQ==,type:str]
FACEBOOK_SECRET=ENC[AES256_GCM,data:bvhcWdHn4UnNdaAlXnqJZlDi58ptv+nFc3mi5apALDk=,iv:0KGdSfo+CGgUFHy0Om7I8is4S4J1AXt81r8ruqfgg1k=,tag:v89sh8WdanlFdouLduAzRg==,type:str]
#ENC[AES256_GCM,data:m6RQtNYXHn3XBO1uDtXsUUKwOevTRLWk1LLNctinZPjchqz1kof92XfU2orX6jSgCmqYfoSckB1xIN1JqpzyQWw3xA==,iv:F7W4zlgD85uQmvGctbkNA45btfewBcpfmyUaOIFUCjc=,tag:S6tUk8opFSd9jcORcAEMAQ==,type:comment]
FACEBOOK_PIXEL_ID=
FOURSQUARE_APIKEY=ENC[AES256_GCM,data:YMjmwkM8eSDFLyJ8T1iCqoQo9Ue8SA==,iv:lBjYv5zUDvvnD/Dndf0GahyBiskTZC5LXdohLy1qRps=,tag:pMsBpRLDtrkh8700N/p3Ow==,type:str]
GIPHY_API_KEY=ENC[AES256_GCM,data:KCNxxHFcp3nO0TlZ7Lj93jzJ,iv:m7i3yvf4psHtWgtFFB1iHfzhn45MfrtDP03jDumREFY=,tag:tx/gxLcga1epA4/liiZFHQ==,type:str]
GITHUB_ID=ENC[AES256_GCM,data:+vJ9BPTZ7jHzxY7n3sIcmGBIaU8=,iv:Fenb9TK7ucOqNi8aTDfHvBLtj6zyPcXzec+Gnos0NAQ=,tag:Vjvuqmjmk3zSq3423NN6mg==,type:str]
GITHUB_SECRET=ENC[AES256_GCM,data:9uYrFRCcMOTPsF4cGnq7feKjIMx/mS4Lfsctuj/jiChSBC0KYz+M2Q==,iv:iQNFzwtKixUg3967ry8nMCFUFlvuqRozqFxzqiWcGcQ=,tag:MF7HU5hzkYdrYrfLcvVWHA==,type:str]
#ENC[AES256_GCM,data:SmfgdaEXQ04VmVcIh4lQYBaXNGO/HkWPZuSj50RGhzFhEFKjVyCWXFpwJbWiCoMRCrpznGpEc2yjHbLFmNz7jUS1p66iHJ5y,iv:/w8uiTxg1n0LVFP14Omw5FWAHy7JiM98oq2nBWEFJTU=,tag:0X08CT2x3b/1UI6rM/iLxg==,type:comment]
GOOGLE_ANALYTICS_ID=
#ENC[AES256_GCM,data:KK7kXjm3QbZ68i9ASxrZGhes89v+OeD+KXkM04Dr6Y/iyk6pHnp8a0TxIB3J5BHs8+DksPN8dYqsXsRNeRnAqirfn9yn444zPW2edg==,iv:fEiOs5G0rESwqyBNOOReYvXknukxRbjOuib6hy0hW9w=,tag:sdMhwQwWsoAbIn2yTQInlw==,type:comment]
GOOGLE_PROJECT_ID=ENC[AES256_GCM,data:ZL2uxgQNnp5hpMP4zgvsGFvpj7uUErBk,iv:C2ACaEBaVjyv/cCvu9Fzcnumf+YlsnKo8h6jxMoQbaE=,tag:cYr+wtf+b0upMKPW4IKj8A==,type:str]
GOOGLE_CLIENT_ID=ENC[AES256_GCM,data:Ujd3W6DBwp0wfnT8EfRv+yIJcR3P6vBNr2ZD205LtYtbLBTCKu64,iv:keV405qXxVn5pjSVGuuqbWYBARZALZo1fpPUidg6+ko=,tag:r0q3X/ZskuO+2GomBoJYnw==,type:str]
GOOGLE_CLIENT_SECRET=ENC[AES256_GCM,data:UlT9zcgeoyTxHO9+vY9DoduWa10vm9kC,iv:3rsVVCjO0VqTg6WqqY0Yh2wulLP9R8OuWvOwS59CegQ=,tag:R23jl2ktfd+jdh1SgkKSUw==,type:str]
GOOGLE_API_KEY=ENC[AES256_GCM,data:mu6JBAnqkIU/yNocSniv9Dmz4A==,iv:pQeqbSBjd79di5bAAn4AcYYOb2pO+TM1cmDK9TCIVes=,tag:nKcNo+2LJcs6n9egnuiLsw==,type:str]
GOOGLE_MAP_API_KEY=ENC[AES256_GCM,data:9Tqtll7tgta4bWXPPZSaMfg5,iv:R9TyZQVC1nlrBg7UG+5OkTcx6I+RoQUf3DV5PipTk50=,tag:8hcdOfecQmbRn7G7BaJFUg==,type:str]
GOOGLE_RECAPTCHA_SITE_KEY=
GROQ_API_KEY=ENC[AES256_GCM,data:KARnjSQ3iIEmv/UMljZMlwcJT/Alzq4aQOE=,iv:73JRu4dVLr9QtgvVSO0/BBjWHKvC/GewrTXsF1AbhXU=,tag:39zK46CWyCahJB1z2DVYtg==,type:str]
GROQ_MODEL=ENC[AES256_GCM,data:qLcau19XnAa76I7Zzyj/pZw3GYOcIgQ=,iv:ABZdPG7lXDcwA76Dm5eYHpgKyhKL8u15NAnSkGSohZw=,tag:4p3XI6kf4z9O01ohjaP69g==,type:str]
GROQ_VISION=ENC[AES256_GCM,data:nYo1tr91j0At4Eguv3GGQLy9CSRIhH9l3iZoHUMPsYGmzkNzXVmkcnU=,iv:fuiAYgNUyJMdujNzXQFRlFmN4YfUzRQxrkcz/Kp14E4=,tag:F8Th3H11yn6HjXtmMWMdDw==,type:str]
GROQ_MODEL_PROMPT_GUARD=ENC[AES256_GCM,data:pW+U/mQN5Kff0QgH+5MND2LfPF0QHsWRNdohXA==,iv:nPrv8pLXVNaxfc4bZz7mj6eMh+/QwY/k9eODiKtnmy8=,tag:0pQ9tfNLUmph+G7cUyQkRA==,type:str]
HERE_API_KEY=ENC[AES256_GCM,data:j4WMui5hREdTRCBchDToP7j8ib4XMw==,iv:zwGSnS6KQBtf4hzO3lZNrSlnfnjKZiBlhQe9esJXVrM=,tag:8PDY/dIZfhYw/7dnVgzz8A==,type:str]
HUGGINGFACE_KEY=ENC[AES256_GCM,data:lqaZOVQzJ2uKp871QMTEnGVuS7ZeUlTmPOFVYKloY7c5FzzQvtAzETns,iv:saf9Q2NbMnUMLBZnyhHISbNj0sfVaTVsVS4uV7LoQsY=,tag:czR/VXm0XiO6u0O7jiUtuA==,type:str]
HUGGINGFACE_EMBEDDING_MODEL=ENC[AES256_GCM,data:wh3aS47S4dua/ehzXlQuHHA/2xSBOQ==,iv:r9mCEnjB/17nu4UYZ2zq3yriNEgQ5yJXGi4WehjWufs=,tag:t5RDdUzq65xxtRi6IPevFQ==,type:str]
HUGGINGFACE_PROVIDER=ENC[AES256_GCM,data:l15i7qGrriVSiVf3,iv:l2xzYsxX44CpHg6VUb4xJm5zYdOdmrxqawTGdgCt+Es=,tag:frPiSmuJpS6rhfvjuOkG/A==,type:str]
LASTFM_KEY=ENC[AES256_GCM,data:8K5HED0muG/8bWFhLwSTB17MibdinxptGwrDixRkIik=,iv:ehKjTycZw84Ewe1jlioBgF5dgzgsDP6btwMt24E1FrQ=,tag:YeqlKyEGNUp+/UkLAMDfoA==,type:str]
LASTFM_SECRET=ENC[AES256_GCM,data:U3KFbYmTNtzUQy8KSDLpJLFw14Di0/oDj0mEh2jG2DdMsAE=,iv:dnCKX9Avdlx8+qLqbhyipgs5q95Ej8h1Qm612qceetI=,tag:KA/cGtAV/9Q7GsGNV3BetA==,type:str]
LINKEDIN_ID=ENC[AES256_GCM,data:ye5gIbnnPk8K1Gq5uD4=,iv:rPy83VTNm0ag2l0kNID+7GgZ8P12RGcWMmO4+Yxd3pg=,tag:PL1AKKnt5pZ04eysfU8Usg==,type:str]
LINKEDIN_SECRET=ENC[AES256_GCM,data:9lZ8FQWn4BwrKXeiTBE/Jg==,iv:Rrei1XM+tkcEs3X4zgHcCFq+bKT9NWAAx3w872iG6bg=,tag:+w7SmZUMDz2vTVbeYLqJXA==,type:str]
MICROSOFT_CLIENT_ID=ENC[AES256_GCM,data:fwu6qoiwNVCxsvlGTr3VCTm48UYuXHacuPa4NjvEips5CmyZ,iv:fxm7ifuaK3Qy2RNttwk4dlVDoAYQzTglKoPv3vzxy7U=,tag:5r3H5ChtUJqX4TzpvGS1IQ==,type:str]
MICROSOFT_CLIENT_SECRET=ENC[AES256_GCM,data:bgbT6M2v8dNGlNsyPSEzmRO9cLH4pdYzY5UME86fOTryXkphIOnqaA==,iv:u+bAE3eqms4Whc9jEELfbq9G8m/D4NsU7L+MEAastMM=,tag:XaGrkHIJV1NW3W6ns09zrA==,type:str]
LOB_KEY=ENC[AES256_GCM,data:DviUcQsuVlhvzV9RXXiyJXZLA7echI8mMikaQY4KP1wzmyfBPOMr4A==,iv:rJkodz9DiSujDDmfEjNR01LE+zskn7YyqoKj8cvsM00=,tag:sx5FDPHGSIdh42AUwsOkkA==,type:str]
NYT_KEY=ENC[AES256_GCM,data:YAc6QslL/3aoTyfRwgm588Uui2G3PfgO6GFUYZoaAc7nSMZmvZ5B5xvghw==,iv:12vFqfX+F+pmYWtTo0EGf5JFXc1j7VjcBBU3Hka1ql8=,tag:o/a7sT2ALEjQPcD0aBV86w==,type:str]
OPENAI_API_KEY=ENC[AES256_GCM,data:7zYPXeqQvQAMCji9c1YJePR13cohnPHAfQf9bjjpekWs1q5HlFku6m66p8GovTk=,iv:jxybiRZQlT7G6xb2QDWo7HpGF6T/fgnaZtuzk/RHZEE=,tag:1V19fR2Rp9s3YOo+E5k/3Q==,type:str]
PAYPAL_ID=ENC[AES256_GCM,data:CT4Dn5fV4K5OHDINEmcjcEWV1zFe/JvtKY39wt5fAow1QB+oIXRJIDSr2w1mo7QS2EhutwRPxk3l9B/e,iv:Pa1ZUYOHlDOBtDSgiWxS3FF2hhDkKrtilc5uW+ybLnk=,tag:idNCrK6LZAdddmD5ZG8Zfw==,type:str]
PAYPAL_SECRET=ENC[AES256_GCM,data:WVYPoByFGMYdg+bZaPyjAlZeaDrrsY5L8Fu6w/Qr7yejAz8o5ZJuvvUXoAVuHbpkXUn8lq2cGfz1HFuF,iv:JL3lTtfpWZZXdOey6wtpEZhxSqZnyx9rU60JengArZs=,tag:SA7Fzdt9kVwWi8G8DNHW4A==,type:str]
QUICKBOOKS_CLIENT_ID=ENC[AES256_GCM,data:g9T/C4smSN4/2RDz1EIvo5C3+AOJeiHq4JAiTamUGi5/xLED5xxmmVxuHry3a3mOSVs=,iv:/7EQSh62swMzvxQz6TfmySV7uzsz5DTzczLJ0fKtN8I=,tag:bz1+14Pb3zq/gN6GauoOtA==,type:str]
QUICKBOOKS_CLIENT_SECRET=ENC[AES256_GCM,data:eKKNC+IvejURPrxTnFkZ2YuSWuphcE9+qJF48/zo9RZfozvdKIijgQ==,iv:/WcfoDOhkYz0cIWQsGJZSupT4LmmUSPd0n3RmlVWWBs=,tag:W/FQirswxQEr4VHCcxBgEQ==,type:str]
STEAM_KEY=ENC[AES256_GCM,data:hYwLYjaXBbLK7z7Va1IgG6WkU28x/OC44+HWDDIoDd0=,iv:JNNjnapRKh7RomFBHBFnxPL8cEWJ66Cq/VGThPRljQc=,tag:tPISh7ihaD4ORosyfj2sFA==,type:str]
STRIPE_SKEY=ENC[AES256_GCM,data:lcVP7xZ58No/AG12NpOcACS9cDVoxWZ8H6j5yCzmbCw=,iv:mLKC4m0+pO3BYC6/UHa/XZ7vmt8jyCffdjaTVrUY9m0=,tag:qy3S2eEuNaFaObUiqDkqcg==,type:str]
STRIPE_PKEY=ENC[AES256_GCM,data:YQxp0NcZNrppzFGy/1ysb/NrQb8Rrb7Xjv3hSFQJVIM=,iv:Mb8rMAzHbxK7K4rW2O6rpWiX+aNo/lN3J7lEWqc6j2k=,tag:mXf8yX64A/oOISLGV0MHMg==,type:str]
TRAKT_ID=ENC[AES256_GCM,data:57ZlDoURObIcfAM2oW0u,iv:g5WCNSZEM7GkIyMBaac7AvMjjkO8471bdjQ/v/X32cM=,tag:DapKje9PL3IH6TPzl/4yJw==,type:str]
TRAKT_SECRET=ENC[AES256_GCM,data:7k+v1XxwNtRUPmNGlPwqm0SkZY4=,iv:jje4G4kXJmtWdNJJAabehb7h7x2PA+FfdsgIFKiLhH8=,tag:9iSuGBgY/MZ41Dnti+CWhw==,type:str]
TUMBLR_KEY=ENC[AES256_GCM,data:n2UeOz0uDFIk+uMqBALeN7wgxbDz1D26QZoR3ujeG7XMRNRWy1a0vaDSKa+BH9YMmRk=,iv:lNIiDUluABioIXsA5XkOrYaASb6ArpgpBvqql0aSfFk=,tag:h3bNiVX5iEDTVOVLUbxq5A==,type:str]
TUMBLR_SECRET=ENC[AES256_GCM,data:HXFTqulL+yQXHeh1m92TMbunAADkS7haRuZfcG2L6NRUOT/5rOuc19tCFUzFkNCQSCw=,iv:MKJtbN/r5WAQIdoULyfkklm9HEHetFA8WwZiIiQasLY=,tag:HvBW2IDE2JTNwAuT4rQAsg==,type:str]
TWILIO_SID=ENC[AES256_GCM,data:6J3PqBRXfMrZ/MaENdM1i8Db0Awa395H5dqGS2jfQIXF9g==,iv:cleN7YFns+aXS18Xg+7pwPT0st4DcfsZQ463x8VFw2Y=,tag:eTomvgNp2GhwBcRLhLSUXw==,type:str]
TWILIO_TOKEN=ENC[AES256_GCM,data:PfIWziAi+nB2kib20sZlPyrGlCgU8wyh/wJtu2DOc4A=,iv:z9h7FKsCsfaV90/oOdHaRxD7rbF4TbsqDWO5fm7eWRg=,tag:BnrK9ySPMZtiSkDeYJuoFg==,type:str]
TWILIO_FROM_NUMBER=ENC[AES256_GCM,data:2EBKvtAhcNfe6YIO,iv:lUtsJH2jc4WGC8LlucUj3Ao7SmZ0n9ys2kNaAmXt2XM=,tag:GsoAMOv17MmzLcYfzzr8cA==,type:str]
TWITCH_CLIENT_ID=ENC[AES256_GCM,data:+3inHYh98jH2ljpB9v9TmFyHMcop2m9GJ2icjXkm,iv:VhVRsj0geYcNjGM4emI9sIY1JAwDVC/KQnIg8VB6j7w=,tag:vTyEdqT8Lzy//KjnzW1V8g==,type:str]
TWITCH_CLIENT_SECRET=ENC[AES256_GCM,data:369SHIM7JEiN+xosgTnuIZ3lICFrtVyYmQPgWDf1,iv:whs48bkECcQjWKSqqbpS3yKIW+Bamr8JOlWLeFo9s8A=,tag:kuNT2ynt6NISZJUUrP5tSg==,type:str]
X_KEY=ENC[AES256_GCM,data:IVLGwmSTJf2Zj1Ihewo5pyQbDnsk9nwf8g==,iv:hhUVPKvocCYVU0yMfq+YBal5jgEjC5x8s+Cm3CiFDtA=,tag:6pTBbBZv/iA06zPUoFi7lw==,type:str]
X_SECRET=ENC[AES256_GCM,data:zQZ6mbPC6RF+6c9Mb4J7V+sFNMrZ4xICcZTLD2aL05JHYrS5LwL0qKDkFlXxvMZrjb4=,iv:kN/JLxNyiGE8K20lO9t0ZzY+qQ1vhtAJ2lsL0KRXutw=,tag:FaiB989W08X5xTYky5p8jg==,type:str]
sops_age__list_0__map_enc=-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBUTGZ6a3NhZ2d2UHlWbXBS\nTVhmY0xpRzIzMGlEQVpENnBXNm1OWEhWUTN3CjB5NWN6Z1hLSU4yQ0NJU3MxL0VD\nOGJUZ1JnT3ZXUE5xcjRlckJ4SW1KQWsKLS0tIGdRWElvZWhCMGZiMmVsbVFMejFn\nMVpFeUpTU0ZEYmwzeXhLZUIyNmthTk0KzXiOnetiBSLk4fsaJNyevYAreWCTfD6/\n6fDfUj7ur5D2cqBMxn5YIrOfEvROqic9jn7g51sFx8gk4HNapzCfDg==\n-----END AGE ENCRYPTED FILE-----\n
sops_age__list_0__map_recipient=age135z68g64ugpwlt9hkfmvdxy4c264xsxfrc96qchhjgapldhsqqcshd84nz
sops_lastmodified=2026-03-17T03:29:30Z
sops_mac=ENC[AES256_GCM,data:t1lRXouFJZIbdDMQPE8presy/n3vaF084LusDiVJeeIaECCCZkFCMY9hlhXr5AVkdr3VfaVQXmej/MAdS2U6DPIAovncQD4iy6X8wcmBYdI8reqO/AVn9FrNp0/eUzOI40yjamB8jwePRoRuGyOI0YZTb8z4eQYMSJdlJU/Nb5U=,iv:nOQ2G9MrqR6AJrESTY+OPf9rcOW1Fv1A0deGD/6a1E8=,tag:pf3lLsOjQ4s0MLdC1uIFsQ==,type:str]
sops_unencrypted_suffix=_unencrypted
sops_version=3.10.2
